.page1,.pre-wrap,body,html {
	height: 100%
}

body {
	max-width: 750px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto
}

.pre,.pre-wrap {
	position: relative
}

.pre-wrap img.abs {
	position: absolute
}

.zwtbtb {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1
}

.index-wrap {
	overflow: hidden
}

.page1 img.page1_imgbg {
	width: 100%;
	height: 100%
}

.page1 img.page1_img1 {
	width: 58%;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-70%);
	transform: translate(-50%,-70%)
}

.page1 img.page1_img2 {
	width: 100%;
	height: auto;
	bottom: 5%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.page1 img.page1_down {
	width: 8%;
	left: 50%;
	bottom: 1rem;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0)
}

.page2 img.page2_imgbg {
	width: 100%
}

.page2 img.page2_img1 {
	width: 42%;
	top: 4%;
	left: 50%;
	-webkit-transform: translate(-40%,0);
	transform: translate(-40%,0)
}

.page2 img.page2_imgicon.right {
	width: 55%;
	right: -6%;
	top: 0
}

.page2 img.page2_imgicon.left {
	width: 41%;
	left: 0;
	bottom: 20%
}

.page2 img.page2_imgicon.right2 {
	width: 55%;
	right: -10%;
	top: 0
}

.page2 img.page2_imgicon.left2 {
	width: 42%;
	left: 2%;
	bottom: 0
}

.page2 img.page2_imgicon {
	animation: heart 1.5s ease-in-out 1.5s infinite alternate
}

.page2 a.page2_lable {
	display: block;
	position: absolute;
	z-index: 2
}

.page2 a.page2_lable span {
	display: inline-block;
	font-size: .65rem;
	height: 1.6rem;
	line-height: 1.6rem;
	color: #fff;
	background: rgba(53,26,0,.7);
	vertical-align: middle
}

.page2 a.page2_lable.right span {
	padding-left: .3rem
}

.page2 a.page2_lable.left span {
	padding-right: .4rem
}

.page2 a.page2_lable i {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: .8rem solid transparent;
	border-bottom: .8rem solid transparent;
	vertical-align: middle
}

.page2 a.page2_lable.right i {
	border-left: .8rem solid rgba(53,26,0,.7)
}

.page2 a.page2_lable.left i {
	border-right: .8rem solid rgba(53,26,0,.7)
}

.page2 a.page2_lable.right {
	top: 7.3%;
	right: 30%
}

.page2 a.page2_lable.left {
	bottom: 9%;
	left: 34%
}

.page2 img.page2_imgcar {
	width: 69%;
	top: 23%;
	left: 20%;
	animation: heart2 .3s ease-in-out 1.5s infinite alternate
}

.ms-wrap {
	position: relative
}

.ms-wrap img {
	width: 100%
}

.ms-wrap img.abs {
	top: 0;
	left: 0;
	z-index: 2
}
.ms-wrap a.a-introduce{
	position: absolute;
	left:5%;
	top:52%;
	display: block;
	width:33%;
	z-index: 21
}
.ms-wrap a.a-introduce img{
	width:100%;
	height: auto;
}

img.page_black_down {
	width: 8%;
	left: 50%;
	bottom: 96%;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0)
}

.ms_abs .ms-wrap {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.ms_abs .ms-wrap img.page_black_down {
	top: 98%;
	-webkit-transform: translate(-50%,-100%);
	transform: translate(-50%,-100%)
}

.ms_h100 .ms-wrap,.ms_h100 .ms-wrap .pre,.ms_h100 .ms-wrap img {
	height: 100%;
	width: auto
}

.ms_h100 .ms-wrap img.right {
	left: 100%;
	-webkit-transform: translate(-100%,0);
	transform: translate(-100%,0)
}

.enroll_wrap {
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	z-index: 2
}

.enroll_ms_bg {
	width: 100%;
	background-image: url(../../images/cultureweek/enroll_ms_bg.jpg)
}

.enroll_wrap .header {
	position: relative;
	height: 20%
}

.enroll_wrap .header img {
	position: absolute;
	width: 70%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-30%);
	transform: translate(-50%,-30%)
}

.enroll_wrap .cou {
	position: relative;
	height: 64%
}

.enroll_wrap .cou ul {
	position: relative;
	width: 77%;
	top: 50%;
	left: 50%;
	background: 0 0;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.enroll_wrap .cou ul li label {
	position: relative;
	display: block;
	font-family: 'MicroSoft YaHei',sans-serif;
	color: #290000;
	font-size: .7rem;
	line-height: 1.8rem;
	font-weight: 700
}

.enroll_wrap .cou ul li label i {
	position: absolute;
	top: 0;
	right: 0;
	font-size: .7rem;
	line-height: 1.8rem;
	color: #fd0000;
	font-weight: 700
}

.enroll_wrap .cou ul li span {
	display: block;
	position: relative
}

.enroll_wrap .cou ul li span.down:after {
	position: absolute;
	content: "";
	top: .7rem;
	right: .6rem;
	width: 0;
	height: 0;
	border-right: .4rem solid transparent;
	border-left: .4rem solid transparent;
	border-top: .4rem solid #1d0000
}

.enroll_wrap .cou ul li input {
	width: 100%;
	height: 1.7rem;
	border-radius: 1.7rem;
	border: 2px solid #91a3a7;
	color: #313131;
	font-size: .7rem;
	font-weight: 700;
	text-indent: .7rem
}

.enroll_wrap .cou ul li input::-webkit-input-placeholder {
	color: #313131
}

.enroll_wrap .but {
	position: relative;
	height: 16%
}

.enroll_wrap .but button {
	position: absolute;
	width: 37%;
	top: 50%;
	left: 50%;
	background: 0 0;
	-webkit-transform: translate(-50%,-80%);
	transform: translate(-50%,-80%)
}

.enroll_wrap .but button img {
	width: 100%
}
#md-sc{
	z-index: 3
}
.EInvitationLetter_wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top:0;
	left: 0;
	opacity: 0;
	text-align: center;
    visibility: hidden;
    -webkit-transition: opacity .4s 0s,visibility 0s .4s;
    -moz-transition: opacity .4s 0s,visibility 0s .4s;
    transition: opacity .4s 0s,visibility 0s .4s;
    background-color: #000;
    z-index: 2
}
.EInvitationLetter_wrap.visibilitypage {
	height: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .4s 0s,visibility 0s 0s;
    -moz-transition: opacity .4s 0s,visibility 0s 0s;
    transition: opacity .4s 0s,visibility 0s 0s;
    z-index: 5
}
#contbox{
	position: relative;
	width: 100%;
	text-align: center;
	min-height: 667px;
	background-color: #000;
	background-image: url(../../images/cultureweek/eil_bg.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100% auto;
	z-index: 2
}

.EInvitationLetter_wrap img {
	margin: 0 auto;
	display: block;
	width: 100%
}

.EInvitationLetter_wrap img.img_kv {
	width: 45%
}

.EInvitationLetter_wrap img.img_time {
	width: 54%
}

.EInvitationLetter_wrap .ewm {
	color: #fff;
	font-size: .5rem;
	line-height: .8rem
}

.EInvitationLetter_wrap img.img_ewm {
	width: 20%;
	margin-bottom: .5rem
}

.EInvitationLetter_wrap img.img_logo {
	width: 86%;
	margin: 1.2rem auto
}

.EInvitationLetter_wrap .but_wrap {
	padding: 1.5rem 0
}

.EInvitationLetter_wrap .but_wrap a {
	display: inline-block;
	padding: 0 .8rem;
	height: 1.2rem;
	line-height: 1.2rem;
	border: 1px solid #fff;
	font-size: .6rem;
	color: #fff;
	font-weight: 700
}

.EInvitationLetter_wrap .eil_sinfo{
	text-align: center;
	font-size: 0.5rem;
	line-height: 1rem;
	color:#fff;
	padding-top:1.5rem;
	letter-spacing: 2px;
	padding-bottom:1rem;
}
.EInvitationLetter_wrap .eil_sinfo .sdata{
	padding-bottom:0.5rem;
}
.EInvitationLetter_wrap .eil_sinfo .sdata span{
	display: block;
	font-size: 0.65rem;
}
.EInvitationLetter_wrap img#down1{
	opacity: 0;
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: auto;
	z-index: 10;
}
.tdpage {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100% auto
}

.tdpage1 img,.tdpage2 img {
	width: 100%
}

.tdpage1 img.abs,.tdpage2 img.abs {
	position: absolute;
	width: 100%;
	height: auto;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.tdpage1 img.img_kv,.tdpage2 img.img_kv {
	top: 4%;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0)
}

.tdpage1 img.img_logo,.tdpage2 img.img_logo {
	top: 100%;
	-webkit-transform: translate(-50%,-170%);
	transform: translate(-50%,-170%)
}

.tdpage1 img.img_icon,.tdpage2 img.img_icon {
	width:72%;
	top:72%;
	left:3%;
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%)
}

.tdpage img.down {
	position: absolute;
	width: 8%;
	left: 50%;
	top: inherit;
	bottom: 1rem;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0)
}

.ms_abs .tdpage1,.ms_abs .tdpage2 {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.ms_h100 .tdpage1,.ms_h100 .tdpage2 {
	height: 100%
}

.ms_h100 .tdpage1 .pre,.ms_h100 .tdpage2 .pre {
	height: 100%;
	overflow: hidden
}

.ms_h100 .tdpage1 img.img_bg,.ms_h100 .tdpage2 img.img_bg {
	position: absolute;
	width: 100%;
	height: auto
}

.ms_h100 .tdpage1 img.img_kv,.ms_h100 .tdpage2 img.img_kv {
	width: auto;
	height: 35%
}

.ms_h100 .tdpage1 img.img_logo,.ms_h100 .tdpage2 img.img_logo {
	-webkit-transform: translate(-50%,-140%);
	transform: translate(-50%,-140%)
}

.td_signUp_wrap {
	background-color: #0e2231
}

.td_signUp_wrap img {
	width: 100%
}

.td_signUp_wrap p {
	width: 83%;
	margin: 0 auto;
	padding: .8rem .3rem 1.3rem .3rem;
	color: #fff;
	font-size: .6rem;
	line-height: .9rem;
	font-family: 'MicroSoft YaHei',sans-serif;
	border-bottom: 1px solid #fff
}

.td_signUp_wrap ul {
	position: relative;
	width: 77%;
	margin: 0 auto
}

.td_signUp_wrap ul li label {
	position: relative;
	display: block;
	font-family: 'MicroSoft YaHei',sans-serif;
	color: #fff;
	font-size: .7rem;
	line-height: 1.8rem;
	font-weight: 700
}

.td_signUp_wrap ul li label i {
	position: absolute;
	top: 0;
	right: 0;
	font-size: .7rem;
	line-height: 1.8rem;
	color: #fd0000;
	font-weight: 700
}

.td_signUp_wrap ul li span {
	display: block;
	position: relative
}

.td_signUp_wrap ul li span.down:after {
	position: absolute;
	content: "";
	top: .7rem;
	right: .6rem;
	width: 0;
	height: 0;
	border-right: .4rem solid transparent;
	border-left: .4rem solid transparent;
	border-top: .4rem solid #1d0000
}

.td_signUp_wrap ul li input {
	width: 100%;
	height: 1.7rem;
	border-radius: 1.7rem;
	border: 2px solid #91a3a7;
	color: #313131;
	font-size: .7rem;
	font-weight: 700;
	text-indent: .7rem
}

.td_signUp_wrap ul li input::-webkit-input-placeholder {
	color: #313131
}

.td_signUp_wrap .but {
	text-align: center
}

.td_signUp_wrap .but button {
	padding: 1.5rem 0;
	background: 0 0;
	width: 37%
}

.td_signUp_wrap .but button img {
	width: 100%
}

.td_succeed_wrap {
	position: relative;
	background-image: url(../../images/cultureweek/testdrive_succeed_bg.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100% auto
}

.ms_abs .td_succeed_wrap {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.ms_h100 .td_succeed_wrap {
	height: 100%
}

.td_succeed_wrap .title {
	position: relative;
	height: 10%
}

.td_succeed_wrap .title span {
	display: block;
	text-align: center;
	position: absolute;
	font-size: .6rem;
	color: #fff;
	line-height: .7rem;
	font-weight: 700;
	font-family: 'MicroSoft YaHei',sans-serif;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.td_succeed_wrap .banner {
	position: relative;
	height: 30%
}

.td_succeed_wrap .banner img {
	position: absolute;
	height: 96%;
	width: auto;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.td_succeed_wrap .info {
	height: 20%;
	width: 86%;
	margin: 0 auto;
	color: #fff;
	font-size: .5rem;
	line-height: .8rem;
	font-weight: 700
}

.td_succeed_wrap .info h2 {
	text-align: center;
	font-size: .8rem;
	line-height: 3rem
}

.td_succeed_wrap .erweima {
	text-align: center;
	height: 25%
}

.td_succeed_wrap .erweima img {
	display: block;
	width: auto;
	height: 58%;
	margin: 0 auto 1rem auto
}

.td_succeed_wrap .erweima a {
	display: inline-block;
	font-size: .72rem;
	color: #fff;
	padding: .2rem .6rem;
	border: 1px solid #fff
}

.td_succeed_wrap .logo {
	position: relative;
	height: 15%
}

.td_succeed_wrap .logo img {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.arrow {
	-webkit-animation: passdown 1.8s ease infinite;
	animation: passdown 1.8s ease infinite
}

.tdpage3,.tdpage4,.tdpage5 {
	background-color: #0e2130
}

.tdpage3,.tdpage3 .pre,.tdpage4,.tdpage4 .pre,.tdpage5,.tdpage5 .pre {
	width: 100%;
	height: 100%;
	background-image: url(../../images/cultureweek/testdrive_atrs1_img1.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto
}

.tdpage3 .pre,.tdpage4 .pre,.tdpage5 .pre {
	background-image: url(../../images/cultureweek/testdrive_atrs1_img2.png);
	background-position: left bottom
}

.tdpage .img_w1 {
	position: absolute;
	width: auto;
	height: 9%;
	top: 6%;
	left: 6%
}

.tdpage .img_w2 {
	position: absolute;
	width: auto;
	height: 19%;
	top: 18%;
	left: 6%
}

.tdpage .img_w3 {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 10%;
	left: 0
}

.tdpage a.td-a {
	display: block;
	position: absolute;
	top: 41%;
	left: 6%;
	font-size: .7rem;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0 .7rem;
	border: 1px solid #fff;
	border-radius: .5rem;
	color: #fff
}
.presentation_wrap{
	position:absolute;
	top:21%;
	width:92%;
	height:78%;
	overflow-y: auto;
	left:4%;
	font-size: 0.4rem;
	line-height: 0.7rem;
	color: #000000;
	background: rgba(255,255,255,0.71);
	z-index: 30;
}
.presentation_wrap dl{
	padding:0 0.4rem;
}
.presentation_wrap dt{
	font-weight: bold;
	padding-top:0.6rem;
}
.presentation_wrap dd p{
	padding-top:0.6rem;
	font-weight: bold;
}
@-webkit-keyframes passdown {
	0% {
		bottom: 2%;
		opacity: 1
	}

	50% {
		bottom: 4%;
		opacity: .5
	}

	100% {
		bottom: 2%;
		opacity: 1
	}
}

@keyframes heart {
	from {
		transform: translate(0,0)
	}

	to {
		transform: translate(0,4px)
	}
}

@keyframes heart2 {
	from {
		transform: translate(0,0)
	}

	to {
		transform: translate(0,1px)
	}
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	50% {
		opacity: 1
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	50% {
		opacity: 1
	}
}

.zoomIn1 {
	animation: zoomIn .3s ease-in-out 2.6s both
}

.zoomIn2 {
	animation: zoomIn .4s ease-in-out .2s both
}

.zoomIn3 {
	animation: zoomIn .5s ease-in-out .4s both
}

.zoomIn4 {
	animation: zoomIn .6s ease-in-out .6s both
}

.zoomIn5 {
	animation: zoomIn .7s ease-in-out .8s both
}

.zoomIn6 {
	animation: zoomIn .8s ease-in-out 1s both
}

.zoomIn7 {
	animation: zoomIn .9s ease-in-out 1.2s both
}

.zoomIn8 {
	animation: zoomIn 1s ease-in-out 1.4s both
}

.zoomIn9 {
	animation: zoomIn 1s ease-in-out 1.6s both
}

.swiper-container {
	width: 100%;
	height: 100%
}

.swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.landscape_tip {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #0e2130;
	text-align: center;
	font-size: 1rem;
	color: #fff
}

.landscape_tip p {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

@media screen and (orientation:landscape) {
	.landscape_tip {
		display: block
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0)
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0)
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

.fadeInLeft1 {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.fadeInLeft1 {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 0s
}

.fadeInLeft2 {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: .3s
}

.fadeInLeft3 {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: .5s
}

@-webkit-keyframes jello {
	11.1%,from,to {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}

	22.2% {
		-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		transform: skewX(-12.5deg) skewY(-12.5deg)
	}

	33.3% {
		-webkit-transform: skewX(6.25deg) skewY(6.25deg);
		transform: skewX(6.25deg) skewY(6.25deg)
	}

	44.4% {
		-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		transform: skewX(-3.125deg) skewY(-3.125deg)
	}

	55.5% {
		-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		transform: skewX(1.5625deg) skewY(1.5625deg)
	}

	66.6% {
		-webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
		transform: skewX(-.78125deg) skewY(-.78125deg)
	}

	77.7% {
		-webkit-transform: skewX(.390625deg) skewY(.390625deg);
		transform: skewX(.390625deg) skewY(.390625deg)
	}

	88.8% {
		-webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
		transform: skewX(-.1953125deg) skewY(-.1953125deg)
	}
}

@keyframes jello {
	11.1%,from,to {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}

	22.2% {
		-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
		transform: skewX(-12.5deg) skewY(-12.5deg)
	}

	33.3% {
		-webkit-transform: skewX(6.25deg) skewY(6.25deg);
		transform: skewX(6.25deg) skewY(6.25deg)
	}

	44.4% {
		-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
		transform: skewX(-3.125deg) skewY(-3.125deg)
	}

	55.5% {
		-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
		transform: skewX(1.5625deg) skewY(1.5625deg)
	}

	66.6% {
		-webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
		transform: skewX(-.78125deg) skewY(-.78125deg)
	}

	77.7% {
		-webkit-transform: skewX(.390625deg) skewY(.390625deg);
		transform: skewX(.390625deg) skewY(.390625deg)
	}

	88.8% {
		-webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
		transform: skewX(-.1953125deg) skewY(-.1953125deg)
	}
}

.jello {
	-webkit-animation-name: jello;
	animation-name: jello;
	-webkit-transform-origin: center;
	transform-origin: center
}
